<div class="container">
<div class="card main-card">
    <div class="row">
        <div class="col-md-4">
            <h2>Burgers to Eat</h2>
            <!-- burgers to eat -->
            <ul class="list-group">
                {{#each burgers}} 
                    {{#unless devoured}} 
                        {{> burgers/burger-block devoured=true}} 
                    {{/unless}} 
                {{/each}}
            </ul>
        </div>
        <div class="col-md-4">
            <h1>Eat the Burger</h1>
            <img id="burger-img" src="/assets/img/burger.jpg" alt="burger">
            <form class="create-form">
                <div class="form-group">
                    <label for="enterBurger">Burger Name:</label>
                    <input type="text" class="form-control" id="enterBurger" name="name"></input>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
            <div id="instructions">
                <p>Type in the name of the burger you'd like to eat and press "Submit"</p>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Burgers I Ate</h2>
            <!-- eaten burgers -->
            <ul class="list-group text-center burger-list">
                {{#each burgers}}
                    {{#if devoured}}
                    <li class="list-group-item">{{id}} {{burger_name}}</li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    </div>

</div>