body {
  background-color: #d5dbe3;
  color: #363739;
}

li {
  margin: .5rem;
}

.label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  .burger-list {
    font-size: 1.5rem;
  }

  h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 1rem;
  }

  h2 {
    font-size: 1.5;
    text-align: center;
    margin-top: 2rem;
  }

  .main-card {
    margin: 3rem auto;
    padding: 1rem;
  }

  #burger-img {
    width: 8rem;
    border-radius: 50%;
    display: block;
    margin: .5rem auto;
  }

  #instructions {
    text-align: center;
    margin: 1rem auto;
  }